PORT=3001
VITE_API_URL=/api
VITE_DEV_PORT=5173 #não precisa esta variável na vps
FRONTEND_HOST_PORT=5173 #use 5175 em produção e 5176 em staging ao subir o perfil app
POSTGRES_DB=vinum
POSTGRES_USER=vinum
POSTGRES_HOST_PORT=5433
POSTGRES_VOLUME_NAME=vinum-tcc-prototipo-local_vinum_postgres_data
DATABASE_URL="postgresql://vinum:SUA_SENHA_POSTGRES@localhost:5433/vinum?schema=public"
POSTGRES_PASSWORD=SUA_SENHA_POSTGRES
ADMIN_INITIAL_EMAIL=admin@vinum.local
ADMIN_INITIAL_PASSWORD=SUA_SENHA_INICIAL_FORTE
PUBLIC_APP_URL="http://localhost:5173"

TESTING_ACTION=1
